@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/content/styles/default.css" />
    <title>Invitation Digital Ltd. senior developer technical test</title>
</head>
<body>
    <div class="header">
        <div>
            <img src="/content/images/id-logo-small.png" alt="Invitation Digital" class="logo">
        </div>
    </div>
    @RenderBody()
</body>
</html>
