body {
    height: 100%;
    font-size: 87.5%;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #252e35;
    line-height: 1.5em;
    background: #f6f6f6;
}

#logo {
    float: left;
}

#header {
    height: 55px;
    background: #292929 url('/content/images/header-pattern.png') repeat-x;
    border-bottom: 1px solid #93df00;
    padding-top: 20px;
    padding-left: 20px;
}